/* Cards estilos CSS */

/* Paleta de colores:
    -#3e31fa
    -#0f2145
    -#f3f5f8
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffffff;

}

/* --------------------------------------------- */
/* Header bar styles */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f3f5f8;
    padding: 20px 10%;
    border-block-end: 1.8px solid rgba(15, 33, 69, 0.1)
}

.logo {
    font-family: 'Brown', sans-serif;
    font-size: larger;
    margin-right: auto;
    color: #0f2145;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.logo:hover {
    color: #3e31fa;
    transform: scale(1.1);
}


/* Menu icons */
header ul {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    list-style: none;
}

.menu a {
    color: #0f2145;
    text-decoration: none;
}

.menu i {
    font-size: 18px;
}
  
.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    position: relative;
    display: block;
    overflow: hidden;
}
  
.menu a span {
    transition: transform 0.2s ease-out;
}
  
.menu a span:first-child {
    display: inline-block;
    padding: 5px 30px;
}
  
.menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}
  
.menu a:hover span:first-child {
    transform: translateY(100%);
}
  
.menu a:hover span:last-child, .menu[data-animation] a:hover span:last-child {
    transform: none;
}
  
/* Animations */
.menu[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}
  
.menu[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
}


/* --------------------------------------------- */
/* Ball styles */
.ball {
    padding: 90px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transformer {
    content: "";
    width: 80px;
    height: 80px;
    bottom: 50%;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    background: #3e31fa;
    animation: ball-bounce 0.3s ease-in-out infinite alternate;
    /*
    animation-name
    animation-duration
    animation-timing-function
    animation-delay
    animation-iteration-count
    animation-direction
    */
}

.ball img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    animation: glitch-it 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
    z-index: -2;
}

/* --------------------------------------------- */
/* Ball animation */ 
@keyframes ball-bounce {
    0% {
      transform: scale(1, 0.7);
    }
  
    40% {
      transform: scale(0.8, 1.2);
    }
  
    60% {
      transform: scale(1, 1);
    }
  
    100% {
      bottom: 140px;
    }
}